{
  "checked_at": "2026-10-03T14:44:20.999918+00:00",
  "sources": [
    {
      "source_url": "https://docs.yellowcard.engineering/reference/get-channels.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Reference Data"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/channels": {
            "get": {
              "tags": [
                "Reference Data"
              ],
              "summary": "List payment channels",
              "operationId": "getChannels",
              "description": "Lists the fiat payment channels (bank, mobile-money and OTC rails) available to the partner. `status` reflects the API-side availability; a `max` of `0` means the channel has no upper transaction limit. Filter by country to narrow the results.",
              "parameters": [
                {
                  "name": "country",
                  "in": "query",
                  "required": false,
                  "description": "ISO-3166 alpha-2 country code",
                  "schema": {
                    "type": "string",
                    "example": "NG"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "05ec29bc-a6c0-4045-8ef1-8701fa991d12"
                                },
                                "vendorId": {
                                  "type": "string",
                                  "example": "vend_9f3a2b7c"
                                },
                                "rampType": {
                                  "type": "string",
                                  "enum": [
                                    "deposit",
                                    "withdraw"
                                  ],
                                  "example": "withdraw",
                                  "description": "deposit = collection (money in); withdraw = payment (money out)."
                                },
                                "channelType": {
                                  "type": "string",
                                  "enum": [
                                    "p2p",
                                    "eft",
                                    "momo",
                                    "bank",
                                    "card",
                                    "yellowCardPin",
                                    "p2pmomo",
                                    "highvolumeotc"
                                  ],
                                  "example": "bank"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "NG"
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "NGN"
                                },
                                "countryCurrency": {
                                  "type": "string",
                                  "example": "NG_NGN"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "inactive"
                                  ],
                                  "example": "active",
                                  "description": "Effective API status."
                                },
                                "feeUSD": {
                                  "type": "number",
                                  "example": 0.5
                                },
                                "feeLocal": {
                                  "type": "number",
                                  "example": 800
                                },
                                "min": {
                                  "type": "number",
                                  "example": 1000
                                },
                                "max": {
                                  "type": "number",
                                  "example": 500000,
                                  "description": "0 means unlimited."
                                },
                                "successThreshold": {
                                  "type": "number",
                                  "example": 0.95
                                },
                                "estimatedSettlementTime": {
                                  "type": "number",
                                  "example": 300,
                                  "description": "Estimated settlement time in seconds."
                                },
                                "settlementType": {
                                  "type": "string",
                                  "enum": [
                                    "instant",
                                    "manual"
                                  ],
                                  "example": "instant"
                                },
                                "createdAt": {
                                  "type": "number",
                                  "example": 1707818937000
                                },
                                "updatedAt": {
                                  "type": "number",
                                  "example": 1707818937000
                                },
                                "widgetStatus": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "inactive"
                                  ],
                                  "example": "active"
                                },
                                "apiStatus": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "inactive"
                                  ],
                                  "example": "active"
                                },
                                "widgetMin": {
                                  "type": "number",
                                  "example": 1000
                                },
                                "widgetMax": {
                                  "type": "number",
                                  "example": 500000
                                },
                                "apiMin": {
                                  "type": "number",
                                  "example": 1000
                                },
                                "apiMax": {
                                  "type": "number",
                                  "example": 5000000
                                },
                                "commercialStatus": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "inactive"
                                  ],
                                  "example": "active"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/get-networks.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Reference Data"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/networks": {
            "get": {
              "tags": [
                "Reference Data"
              ],
              "summary": "List networks",
              "operationId": "getNetworks",
              "description": "Lists the payout/collection networks (banks and mobile-money operators) for a country or channel. Use the returned `id` as the `networkId` when building a destination.",
              "parameters": [
                {
                  "name": "country",
                  "in": "query",
                  "required": false,
                  "description": "ISO-3166 alpha-2 country code",
                  "schema": {
                    "type": "string",
                    "example": "NG"
                  }
                },
                {
                  "name": "channelId",
                  "in": "query",
                  "required": false,
                  "description": "Channel ID",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "networks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "018f2c9a-3b7e-7c21-a9d4-2f6b1e8c0a55"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "First Bank of Nigeria"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "NG"
                                },
                                "channelIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "05ec29bc-a6c0-4045-8ef1-8701fa991d12"
                                  }
                                },
                                "tempDisabledFor": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "code": {
                                  "type": "string",
                                  "example": "FIRSTBANK",
                                  "description": "Network/bank code. Some networks carry per-branch codes."
                                },
                                "accountNumberType": {
                                  "type": "string",
                                  "enum": [
                                    "phone",
                                    "bank",
                                    "app"
                                  ],
                                  "example": "bank",
                                  "description": "phone = mobile-money MSISDN, bank = account number, app = wallet handle."
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "inactive"
                                  ],
                                  "example": "active"
                                },
                                "bankId": {
                                  "type": "string",
                                  "example": "011"
                                },
                                "seerbitId": {
                                  "type": "string",
                                  "example": "58"
                                },
                                "createdAt": {
                                  "type": "number",
                                  "example": 1707818937000
                                },
                                "updatedAt": {
                                  "type": "number",
                                  "example": 1707818937000
                                },
                                "countryAccountNumberType": {
                                  "type": "string"
                                },
                                "featureFlagEnabled": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "channelType": {
                                  "type": "string",
                                  "enum": [
                                    "bank",
                                    "momo"
                                  ],
                                  "example": "bank",
                                  "description": "Derived rail type; absent for app networks."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/get-rates.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Reference Data"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/rates": {
            "get": {
              "tags": [
                "Reference Data"
              ],
              "summary": "Get exchange rates",
              "operationId": "getRates",
              "description": "Returns the partner buy/sell rates (local-currency units per 1 USD, inclusive of margin). Filter by currency or locale to narrow the results.",
              "parameters": [
                {
                  "name": "currency",
                  "in": "query",
                  "required": false,
                  "description": "Currency code",
                  "schema": {
                    "type": "string",
                    "example": "NGN"
                  }
                },
                {
                  "name": "locale",
                  "in": "query",
                  "required": false,
                  "description": "Locale/country code",
                  "schema": {
                    "type": "string",
                    "example": "NG"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "buy": {
                                  "type": "number",
                                  "example": 1600
                                },
                                "sell": {
                                  "type": "number",
                                  "example": 1550
                                },
                                "locale": {
                                  "type": "string",
                                  "example": "NG"
                                },
                                "rateId": {
                                  "type": "string",
                                  "example": "NGN-USD"
                                },
                                "code": {
                                  "type": "string",
                                  "example": "NGN"
                                },
                                "updatedAt": {
                                  "type": "number",
                                  "example": 1707818937000
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/get-account.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Reference Data"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/account": {
            "get": {
              "tags": [
                "Reference Data"
              ],
              "summary": "Get account balances",
              "operationId": "getAccount",
              "description": "Returns the partner available balances across fiat and crypto wallets.",
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "available": {
                                  "type": "number",
                                  "example": 5230.75
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "currencyType": {
                                  "type": "string",
                                  "enum": [
                                    "fiat",
                                    "crypto",
                                    "stock"
                                  ],
                                  "example": "fiat"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/resolve-bank-account.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Account Resolution"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/details/bank": {
            "post": {
              "tags": [
                "Account Resolution"
              ],
              "summary": "Resolve a bank account",
              "operationId": "resolveBankAccount",
              "description": "Resolves a bank account number against a network to confirm the account holder name before creating a payout.",
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "accountNumber": {
                          "type": "string",
                          "example": "0123456789"
                        },
                        "networkId": {
                          "type": "string",
                          "example": "018f2c9a-3b7e-7c21-a9d4-2f6b1e8c0a55"
                        },
                        "accountName": {
                          "type": "string",
                          "example": "Chidi Okonkwo"
                        },
                        "accountBank": {
                          "type": "string",
                          "example": "FIRSTBANK"
                        }
                      },
                      "required": [
                        "networkId",
                        "accountNumber"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "accountNumber": {
                            "type": "string",
                            "example": "0123456789"
                          },
                          "accountName": {
                            "type": "string",
                            "example": "Chidi Okonkwo"
                          },
                          "accountBank": {
                            "type": "string",
                            "example": "First Bank of Nigeria"
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/widget-quote.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Quotes & Fees"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/widget/quote": {
            "post": {
              "tags": [
                "Quotes & Fees"
              ],
              "summary": "Get a widget quote",
              "operationId": "widgetQuote",
              "description": "Returns an indicative buy/sell quote for a crypto amount or local amount on a given channel, including the fee breakdown and applicable limits.",
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "NGN"
                        },
                        "localAmount": {
                          "type": "number",
                          "example": 160000
                        },
                        "cryptoAmount": {
                          "type": "number",
                          "example": 100
                        },
                        "coin": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "TRC20"
                        },
                        "channelId": {
                          "type": "string",
                          "example": "05ec29bc-a6c0-4045-8ef1-8701fa991d12"
                        },
                        "transactionType": {
                          "type": "string",
                          "example": "Buy",
                          "description": "Buy or Sell."
                        }
                      },
                      "required": [
                        "currency",
                        "coin",
                        "network",
                        "channelId",
                        "transactionType"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "NGN"
                          },
                          "localAmount": {
                            "type": "number",
                            "example": 160000
                          },
                          "convertedAmount": {
                            "type": "number",
                            "example": 100
                          },
                          "fiatReceived": {
                            "type": "number",
                            "example": 158000
                          },
                          "coin": {
                            "type": "string",
                            "example": "USDT"
                          },
                          "network": {
                            "type": "string",
                            "example": "TRC20"
                          },
                          "channelId": {
                            "type": "string",
                            "example": "05ec29bc-a6c0-4045-8ef1-8701fa991d12"
                          },
                          "transactionType": {
                            "type": "string",
                            "enum": [
                              "Buy",
                              "Sell"
                            ],
                            "example": "Buy"
                          },
                          "rateLocal": {
                            "type": "number",
                            "example": 1600
                          },
                          "cryptoReceived": {
                            "type": "number",
                            "example": 100
                          },
                          "cryptoAmount": {
                            "type": "number",
                            "example": 100
                          },
                          "networkFeeLocal": {
                            "type": "number",
                            "example": 400
                          },
                          "networkFeeUSD": {
                            "type": "number",
                            "example": 0.25
                          },
                          "serviceFeeLocal": {
                            "type": "number",
                            "example": 2400
                          },
                          "serviceFeeUSD": {
                            "type": "number",
                            "example": 1.5
                          },
                          "partnerFeeLocal": {
                            "type": "number",
                            "example": 800
                          },
                          "partnerFeeUSD": {
                            "type": "number",
                            "example": 0.5
                          },
                          "paymentMethod": {
                            "type": "string",
                            "example": "bank"
                          },
                          "settlement": {
                            "type": "string",
                            "example": "instant"
                          },
                          "transactionLimitMin": {
                            "type": "number",
                            "example": 1000
                          },
                          "transactionLimitMax": {
                            "type": "number",
                            "example": 5000000
                          },
                          "cryptoMaxLimit": {
                            "type": "number",
                            "example": 5000
                          },
                          "cryptoMinLimit": {
                            "type": "number",
                            "example": 1
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-04-12T09:15:30.000Z"
                          },
                          "expireAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-04-12T09:20:30.000Z"
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/get-channels-crypto.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Reference Data"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/channels/crypto": {
            "get": {
              "tags": [
                "Reference Data"
              ],
              "summary": "List crypto channels",
              "operationId": "getChannelsCrypto",
              "description": "Lists the supported cryptocurrencies and their per-network configuration, including buy/sell limits per local currency.",
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "usdt"
                                },
                                "code": {
                                  "type": "string",
                                  "example": "USDT",
                                  "description": "Asset symbol."
                                },
                                "networks": {
                                  "type": "object",
                                  "properties": {},
                                  "additionalProperties": {
                                    "type": "object",
                                    "properties": {
                                      "activities": {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "example": "send"
                                        },
                                        "description": "Enabled operations for the network."
                                      },
                                      "addressRegex": {
                                        "type": "string",
                                        "example": "^T[1-9A-HJ-NP-Za-km-z]{33}$",
                                        "description": "Regex a destination address must match."
                                      },
                                      "chainCurrencyId": {
                                        "type": "string",
                                        "example": "tron-trx"
                                      },
                                      "explorerUrl": {
                                        "type": "string",
                                        "example": "https://tronscan.org/#/transaction/"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Tron (TRC20)"
                                      },
                                      "enabled": {
                                        "type": "boolean",
                                        "example": true
                                      },
                                      "nativeAsset": {
                                        "type": "string",
                                        "example": "TRX",
                                        "description": "The chain gas currency."
                                      },
                                      "network": {
                                        "type": "string",
                                        "example": "TRC20"
                                      },
                                      "requiresMemo": {
                                        "type": "boolean",
                                        "example": false,
                                        "description": "True for tag/memo networks (XRP/XLM/TON)."
                                      },
                                      "widgetEnabled": {
                                        "type": "boolean",
                                        "example": true
                                      },
                                      "contractAddress": {
                                        "type": "string",
                                        "example": "TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t",
                                        "description": "Token contract address for non-native tokens."
                                      }
                                    }
                                  },
                                  "description": "Map keyed by network name."
                                },
                                "description": {
                                  "type": "string",
                                  "example": "Tether USD"
                                },
                                "zones": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "africa"
                                  }
                                },
                                "resources": {},
                                "defaultNetwork": {
                                  "type": "string",
                                  "example": "TRC20"
                                },
                                "isUTXOBased": {
                                  "type": "boolean",
                                  "example": false,
                                  "description": "True for BTC-like chains."
                                },
                                "enabled": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "buyMinLocal": {
                                  "type": "object",
                                  "properties": {},
                                  "additionalProperties": {
                                    "type": "number"
                                  },
                                  "example": {
                                    "NGN": 1000,
                                    "KES": 500
                                  },
                                  "description": "Minimum buy amount per local currency."
                                },
                                "buyMaxLocal": {
                                  "type": "object",
                                  "properties": {},
                                  "additionalProperties": {
                                    "type": "number"
                                  },
                                  "example": {
                                    "NGN": 500000,
                                    "KES": 250000
                                  }
                                },
                                "sellMinLocal": {
                                  "type": "object",
                                  "properties": {},
                                  "additionalProperties": {
                                    "type": "number"
                                  },
                                  "example": {
                                    "NGN": 2000
                                  }
                                },
                                "sellMaxLocal": {
                                  "type": "object",
                                  "properties": {},
                                  "additionalProperties": {
                                    "type": "number"
                                  },
                                  "example": {
                                    "NGN": 1000000
                                  }
                                }
                              },
                              "description": "A supported cryptocurrency and its per-network configuration."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/get-country-config.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Reference Data"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/country/config": {
            "get": {
              "tags": [
                "Reference Data"
              ],
              "summary": "Get per-country payment config",
              "operationId": "getCountryConfig",
              "description": "Returns receive/send availability, per-ramp-type limits and supported channel types for a country + currency, aggregated from the active API channels. A `receiveMax`/`sendMax` of `0` means unlimited.",
              "parameters": [
                {
                  "name": "country",
                  "in": "query",
                  "required": true,
                  "description": "Country code (e.g. MX, GH, NG, ZA)",
                  "schema": {
                    "type": "string",
                    "example": "MX"
                  }
                },
                {
                  "name": "currency",
                  "in": "query",
                  "required": true,
                  "description": "Currency code (e.g. MXN, GHS, NGN, ZAR)",
                  "schema": {
                    "type": "string",
                    "example": "MXN"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Successful response",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "example": "NG"
                          },
                          "currency": {
                            "type": "string",
                            "example": "NGN"
                          },
                          "receive": {
                            "type": "string",
                            "enum": [
                              "active",
                              "inactive"
                            ],
                            "example": "active"
                          },
                          "send": {
                            "type": "string",
                            "enum": [
                              "active",
                              "inactive"
                            ],
                            "example": "active"
                          },
                          "receiveMin": {
                            "type": "number",
                            "example": 1000
                          },
                          "receiveMax": {
                            "type": "number",
                            "example": 500000,
                            "description": "0 means unlimited"
                          },
                          "sendMin": {
                            "type": "number",
                            "example": 2000
                          },
                          "sendMax": {
                            "type": "number",
                            "example": 1000000,
                            "description": "0 means unlimited"
                          },
                          "channelTypes": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "bank",
                                "momo"
                              ]
                            },
                            "example": [
                              "bank",
                              "momo"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Bad Request",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "ValidationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid request parameters"
                          }
                        }
                      }
                    }
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AuthenticationError"
                          },
                          "message": {
                            "type": "string",
                            "example": "invalid apiKey signature combination"
                          }
                        }
                      }
                    }
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "InternalServerError"
                          },
                          "message": {
                            "type": "string",
                            "example": "something went wrong"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "YcHmacV1": {
              "type": "apiKey",
              "in": "header",
              "name": "Authorization",
              "description": "Format: YcHmacV1 <apiKeyId>:<signature>"
            },
            "YcTimestamp": {
              "type": "apiKey",
              "in": "header",
              "name": "X-YC-Timestamp",
              "description": "ISO-8601 request timestamp; must be within 5 minutes of server time."
            }
          }
        }
      }
    },
    {
      "source_url": "https://docs.yellowcard.engineering/reference/submit-send.md",
      "specification": {
        "openapi": "3.0.0",
        "info": {
          "title": "Yellowcard B2B Payments API",
          "description": "B2B Payments API for payments, collections, settlements, currency conversion and custody.\n\n## Authentication\nEvery request must be signed with your API key using the `YcHmacV1` scheme.\n\nSend two headers:\n- `X-YC-Timestamp`: current time as an ISO-8601 string (must be within 5 minutes of server time).\n- `Authorization`: `YcHmacV1 <apiKeyId>:<signature>`.\n\nThe signature is a base64 HMAC-SHA256 over the message `timestamp + path + method`, and for `POST`/`PUT` requests with a body, `+ base64(sha256(rawBody))` is appended. The HMAC secret is your API key secret.\n\n## Amounts, currencies and rates\nUSD is the API base currency: `amount` fields are USD, while `convertedAmount` and `*Local` fields are in the local currency. `rate` is expressed as local-currency units per 1 USD (e.g. 1600 NGN/USD). Supported fiat currencies include NGN, KES, GHS, ZAR, UGX, TZS, ZMW, MXN, ARS, BRL and COP; supported custody stablecoins include USDT, USDC, PYUSD and EURC.",
          "version": "2.0.0"
        },
        "servers": [
          {
            "url": "https://sandbox.api.yellowcard.io",
            "description": "Yellowcard Sandbox Server"
          }
        ],
        "tags": [
          {
            "name": "Payments"
          }
        ],
        "security": [
          {
            "YcHmacV1": []
          },
          {
            "YcTimestamp": []
          }
        ],
        "paths": {
          "/business/send": {
            "post": {
              "tags": [
                "Payments"
              ],
              "summary": "Submit a send",
              "operationId": "submitSend",
              "description": "Creates a payout to a bank or mobile-money recipient. Supply either `amount` (USD) or `localAmount`; the channel is resolved from `country`, `currency` and `channelType` when `channelId` is omitted. Unless `forceAccept` is set, the payment starts in `pending_approval` and must be accepted.\n\nThe Asia corridors require extra recipient details on top of the standard fields. All five — Indonesia (ID/IDR), India (IN/INR), Philippines (PH/PHP), Thailand (TH/THB) and Sri Lanka (LK/LKR) — require `destination.city`, `destination.address`, `destination.idType`, `destination.idNumber`, `destination.occupation` and `purposeOfRemittance`. Per corridor, in addition to those:\n\n- **Indonesia (ID/IDR)** and **Thailand (TH/THB)**: no further fields.\n- **India (IN/INR)**: `destination.swiftCode` (the IFSC code).\n- **Philippines (PH/PHP)**: `destination.state` and `destination.postalCode`.\n- **Sri Lanka (LK/LKR)**: `destination.swiftCode` (the bank branch code).",
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "sender": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Adaeze Okafor",
                              "description": "Full legal name of the sender."
                            },
                            "country": {
                              "type": "string",
                              "example": "NG",
                              "description": "ISO-3166 alpha-2 country code of the sender."
                            },
                            "phone": {
                              "type": "string",
                              "example": "+2348031234567",
                              "description": "Sender phone number in international format."
                            },
                            "address": {
                              "type": "string",
                              "example": "14 Awolowo Road, Ikoyi, Lagos"
                            },
                            "dob": {
                              "type": "string",
                              "example": "1990-05-14",
                              "description": "Date of birth (YYYY-MM-DD)."
                            },
                            "email": {
                              "type": "string",
                              "example": "adaeze.okafor@example.com"
                            },
                            "idNumber": {
                              "type": "string",
                              "example": "22212345678",
                              "description": "Government-issued ID number."
                            },
                            "idType": {
                              "type": "string",
                              "example": "BVN",
                              "description": "ID document type (e.g. BVN, NIN, PASSPORT)."
                            },
                            "additionalIdNumber": {
                              "type": "string",
                              "example": "A01234567"
                            },
                            "additionalIdType": {
                              "type": "string",
                              "example": "PASSPORT"
                            },
                            "businessName": {
                              "type": "string",
                              "example": "Okafor Trading Ltd",
                              "description": "Registered business name when the sender is an institution."
                            },
                            "businessId": {
                              "type": "string",
                              "example": "RC-1234567",
                              "description": "Business registration number."
                            },
                            "verifiableCredentials": {
                              "type": "object",
                              "properties": {},
                              "additionalProperties": true,
                              "description": "Optional verifiable-credentials payload used for tbDEX flows."
                            },
                            "alias": {
                              "type": "string",
                              "example": "adaeze"
                            }
                          },
                          "description": "The originating party of a transaction. For institutional customers, populate businessName and businessId."
                        },
                        "destination": {
                          "type": "object",
                          "properties": {
                            "accountNumber": {
                              "type": "string",
                              "example": "0123456789",
                              "description": "Recipient account number: bank account digits, or the mobile-money MSISDN for momo payouts."
                            },
                            "accountType": {
                              "type": "string",
                              "enum": [
                                "bank",
                                "momo"
                              ],
                              "example": "bank",
                              "description": "Payout rail — a bank account or a mobile-money wallet."
                            },
                            "accountBank": {
                              "type": "string",
                              "example": "FIRSTBANK",
                              "description": "Destination bank code or identifier."
                            },
                            "networkId": {
                              "type": "string",
                              "example": "018f2c9a-3b7e-7c21-a9d4-2f6b1e8c0a55",
                              "description": "ID of the payout network (from GET /networks)."
                            },
                            "networkName": {
                              "type": "string",
                              "example": "First Bank of Nigeria"
                            },
                            "country": {
                              "type": "string",
                              "example": "NG"
                            },
                            "accountName": {
                              "type": "string",
                              "example": "Chidi Okonkwo",
                              "description": "Name on the destination account."
                            },
                            "phoneNumber": {
                              "type": "string",
                              "example": "+2348039876543"
                            },
                            "branch": {
                              "type": "string",
                              "example": "Ikeja"
                            },
                            "branchCode": {
                              "type": "string",
                              "example": "011"
                            },
                            "swiftCode": {
                              "type": "string",
                              "example": "FBNINGLA",
                              "description": "Bank branch identifier. SWIFT/BIC for international bank payouts; required for IN (the IFSC code, e.g. SBIN0001234) and LK (the bank branch code)."
                            },
                            "routingNumber": {
                              "type": "string",
                              "example": "021000021",
                              "description": "US ABA routing number (USD destinations)."
                            },
                            "firstName": {
                              "type": "string",
                              "example": "Chidi"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "Okonkwo"
                            },
                            "email": {
                              "type": "string",
                              "example": "chidi.okonkwo@example.com"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+2348039876543"
                            },
                            "businessName": {
                              "type": "string",
                              "example": "Okonkwo Imports Ltd"
                            },
                            "businessId": {
                              "type": "string",
                              "example": "RC-7654321"
                            },
                            "businessAddress": {
                              "type": "string",
                              "example": "5 Marina Street, Lagos Island, Lagos"
                            },
                            "documentReferenceNumber": {
                              "type": "string",
                              "example": "INV-2026-00042"
                            },
                            "taxId": {
                              "type": "string",
                              "example": "1234567890"
                            },
                            "bankAccountType": {
                              "type": "string",
                              "example": "savings",
                              "description": "Bank account category (e.g. savings, checking)."
                            },
                            "outboundTransactionType": {
                              "type": "string",
                              "example": "B2B"
                            },
                            "city": {
                              "type": "string",
                              "example": "Lagos",
                              "description": "Recipient city. Required for the ID, IN, PH, TH and LK corridors; for IN and ID only letters, numbers and spaces are accepted."
                            },
                            "address": {
                              "type": "string",
                              "example": "5 Marina Street",
                              "description": "Recipient street address. Required for the ID, IN, PH, TH and LK corridors; for IN only letters, numbers and spaces are accepted."
                            },
                            "state": {
                              "type": "string",
                              "example": "Lagos",
                              "description": "Recipient state or province. Required for the PH corridor."
                            },
                            "postalCode": {
                              "type": "string",
                              "example": "101001",
                              "description": "Recipient postal/zip code. Required for PH; optional for ID, IN, TH and LK, where it is forwarded to the payout provider when supplied."
                            },
                            "memo": {
                              "type": "string",
                              "example": "Invoice 42 settlement"
                            },
                            "sortCode": {
                              "type": "string",
                              "example": "04-00-04",
                              "description": "UK-style sort code where applicable."
                            },
                            "bankName": {
                              "type": "string",
                              "example": "First Bank of Nigeria"
                            },
                            "bankAddress": {
                              "type": "string",
                              "example": "35 Marina, Lagos"
                            },
                            "bankCity": {
                              "type": "string",
                              "example": "Lagos"
                            },
                            "bankPostalCode": {
                              "type": "string",
                              "example": "101001"
                            },
                            "bankCountry": {
                              "type": "string",
                              "example": "NG"
                            },
                            "pixKeyType": {
                              "type": "string",
                              "enum": [
                                "CPF",
                                "CNPJ",
                                "EMAIL",
                                "PHONE",
                                "RANDOM_KEY"
                              ],
                              "example": "CPF",
                              "description": "Brazilian PIX key type (BRL payouts)."
                            },
                            "cciNumber": {
                              "type": "string",
                              "example": "00212345678901234567",
                              "description": "Peruvian interbank account code (CCI)."
                            },
                            "idType": {
                              "type": "string",
                              "example": "cc",
                              "description": "Recipient KYC document type. LatAm payouts use codes such as `cc`; the ID, IN, PH, TH and LK corridors require one of PASSPORT, NATIONAL_ID, DRIVERS_LICENSE, TAX_ID, VOTER_ID or OTHER."
                            },
                            "idNumber": {
                              "type": "string",
                              "example": "1032456789",
                              "description": "Number of the recipient's identification document, matching idType. Required for the ID, IN, PH, TH and LK corridors."
                            },
                            "occupation": {
                              "type": "string",
                              "example": "Merchant",
                              "description": "Recipient occupation. Required for the ID, IN, PH, TH and LK corridors, where it must be one of EMPLOYEE, SELF_EMPLOYED, STUDENT, RETIRED, UNEMPLOYED, HOUSEWIFE or OTHER."
                            }
                          },
                          "description": "The recipient of a payment. Required fields vary by payout rail and country; resolve the account with POST /details/bank or /details/momo first."
                        },
                        "channelId": {
                          "type": "string",
                          "example": "05ec29bc-a6c0-4045-8ef1-8701fa991d12"
                        },
                        "channelType": {
                          "type": "string",
                          "enum": [
                            "p2p",
                            "eft",
                            "momo",
                            "bank",
                            "card",
                            "yellowCardPin",
                            "p2pmomo",
                            "highvolumeotc"
                          ],
                          "example": "bank"
                        },
                        "sequenceId": {
                          "type": "string",
                          "example": "INV-2026-00042"
                        },
                        "amount": {
                          "type": "number",
                          "minimum": 0,
                          "example": 100,
                          "description": "Value in USD. Supply either amount or localAmount."
                        },
                        "localAmount": {
                          "type": "number",
                          "minimum": 0,
                          "example": 160000,
                          "description": "Value in local currency. Supply either amount or localAmount."
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "gift",
                            "bills",
                            "groceries",
                            "travel",
                            "health",
                            "entertainment",
                            "housing",
                            "school-fees",
                            "other"
                          ],
                          "example": "bills",
                          "description": "Purpose of the payment."
                        },
                        "currency": {
                          "type": "string",
                          "example": "NGN"
                        },
                        "country": {
                          "type": "string",
                          "example": "NG"
                        },
                        "customerType": {
                          "type": "string",
                          "enum": [
                            "retail",
                            "institution"
                          ],
                          "example": "retail"
                        },
                        "forceAccept": {
                          "type": "boolean",
                          "example": false,
                          "description": "Auto-accept on creation, skipping manual approval."
                        },
                        "purposeOfRemittance": {
                          "type": "string",
                          "example": "BUSINESS_EXPENSES",
                          "description": "Purpose of the remittance. Required for the ID, IN, PH, TH and LK corridors, where it must be one of FAMILY_SUPPORT, EDUCATION, MEDICAL_TREATMENT, GIFT_AND_DONATION, CONSTRUCTION_EXPENSES, BUSINESS_EXPENSES, PAYMENT_FOR_GOODS_SERVICES, TRAVEL or OTHER. No schema enum is declared because the accepted set is corridor-specific and is validated at runtime; an invalid value is rejected with a 400 PaymentValidationError listing the values that corridor accepts."
                        },
                        "customerUID": {
                          "type": "string",
                          "example": "cust_84726"
                        },
                        "identificationType": {
                          "type": "string",
                          "example": "cc",
                          "description": "Recipient KYC document type (LatAm payouts)."
                        },
                        "identificationNumber": {
                          "type": "string",
                          "example": "1032456789"
                        },
                        "cuit": {
                          "type": "string",
                          "example": "20123456789",
                          "description": "Argentine tax ID (CUIT/CUIL) for ARS payouts."
                        }
                      },
                      "required": [
                        "sender",
                        "destination",
                        "sequenceId",
                        "reason"
                      ]
                    },
                    "examples": {
                      "default": {
                        "summary": "Ghana (GHS) bank payment",
                        "value": {
                          "sender": {
                            "name": "John Doe",
                            "country": "Nigeria",
                            "phone": "+348567849212",
                            "address": "22 Baker Street, Lagos",
                            "dob": "02/01/1995",
                            "email": "john@doe.com",
                            "idNumber": "9502015098748",
                            "idType": "1"
                          },
                          "destination": {
                            "accountName": "Sam Smith",
                            "accountNumber": "0760349371",
                            "accountType": "bank",
                            "networkId": "995eb625-e23b-4d0b-bd90-18ce44cc17a3"
                          },
                          "channelId": "fe8f4989-3bf6-41ca-9621-ffe2bc127569",
                          "sequenceId": "payment-gha-1",
                          "amount": 456.33,
                          "reason": "gift",
                          "currency": "GHS",
                          "country": "Ghana"
                        }
                      },
                      "indonesia": {
                        "summary": "Indonesia (IDR) bank payment",
                        "value": {
                          "sender": {
                            "name": "Budi Santoso",
                            "country": "Indonesia",
                            "phone": "+6281234567890",
                            "email": "sender@example.com"
                          },
                          "destination": {
                            "accountType": "bank",
                            "accountName": "Budi Santoso",
                            "accountNumber": "1234567890",
                            "networkId": "995eb625-e23b-4d0b-bd90-18ce44cc17a3",
                            "city": "Jakarta",
                            "address": "Jl Sudirman No 10 Jakarta Selatan",
                            "idType": "NATIONAL_ID",
                            "idNumber": "3171234567890001",
[...]
